[run]
source = app
omit = 
    */tests/*
    */__pycache__/*
    */.venv/*
relative_files = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[xml]
output = coverage.xml
